  <!-- Breadcrumb Section Begin -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Shopping Cart</h2>
          <div class="breadcrumb__option">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <%if @cart_products.empty?%>
              <h5>Carts Empty</h5>
            <%else%>
              <thead>
                <tr>
                  <th class="shoping__product">Products</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%@cart_products.each do |product|%>
                  <tr id="<%= product.id %>" data-price="<%= product.product.price %>" class=".product">
                    <td class="shoping__cart__item">
                      <%if product.product.image.present?%>
                        <img src=<%= product.product.image.thumb %> alt="">
                      <%else%>
                        <img src=<%= asset_url('no_image.jpeg') %> alt="">
                      <%end%>
                      <h5><%=product.product.name.capitalize%></h5>
                    </td>
                    <td class="shoping__cart__price">
                      <%=number_to_currency(product.product.price, :locale => :id)%>
                    </td>
                    <td class="shoping__cart__quantity">
                      <div class="quantity">
                        <div class="pro-qty">
                          <input type="text" class="product-qty" value="<%=product.quantity%>">
                        </div>
                      </div>
                    </td>
                    <td class="shoping__cart__total" id="product_total_<%= product.id %>">
                      <%=number_to_currency(product.quantity * product.product.price , :locale => :id)%>
                    </td>
                    <td class="shoping__cart__item__close">
                      <%= link_to cart_product_path(product), method: :delete, data: {confirm: "Are you sure?"} do%>
                        <i class="fa fa-times"></i>
                      <%end%>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            <%end%>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__btns">
          <a href="/" class="primary-btn cart-btn cart-btn-right">CONTINUE SHOPPING</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__continue">
          <div class="shoping__discount">
            <h5>Discount Codes</h5>
            <%= form_tag cekstatus_path, method: :post, remote: true do %>
              <div class="form-group">
                <%= text_field_tag :code, "", class: 'form-control'%>
                <button type="submit" class="site-btn" id="submit-voucher">APPLY COUPON</button>
              </div>
            <%end%>
            <button class="site-btn" id="checking-voucher">CHECK VOUCHER</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="shoping__checkout">
          <h5>Cart Total</h5>
          <%if @cart_products.present?%>
            <ul>
              <li>Subtotal <span id="cart-subtotal"><%=number_to_currency(@cart_products.first.cart.price, :locale => :id)%></span></li>
              <li>Total <span id="cart-total"><%=number_to_currency(@cart_products.first.cart.price, :locale => :id)%></span></li>
            </ul>
            <%= form_tag create_transaction_cart_path(@cart_products.first.cart, :coupon => @coupon), remote: true do %>
              <button class="primary-btn">PROCEED TO CHECKOUT</button>
            <%end%>
          <%else%>
            <ul>
              <li>Subtotal <span><%=number_to_currency(0, :locale => :id)%></span></li>
              <li>Total <span><%=number_to_currency(0, :locale => :id)%></span></li>
            </ul>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</section>
<%= content_for :script do %>
  <script>
    $( document ).ready(function() {
    $('#submit-voucher').hide();
    
    $('#checking-voucher').on('click', function(){
      $.ajax({
        url: "/coupons/checking/"+$('#code').val(),
        type: "GET",
        success: function(data){
           alert("Code Verified");
          $('#submit-voucher').show();
          $('#checking-voucher').hide();
        },
        error: function(err){
          alert("Code not found");
        }
      });
    });
      });
    
      $(document).on('turbolinks:load', function(){
          $('.qtybtn').on('click', function(){
              var parent = $(this).parentsUntil(".product")[3];
              var $button = $(this);
              var id = parent.id;
              var oldValue = $button.parent().find('input').val();
              if ($button.hasClass('inc')) {
                  var newVal = parseFloat(oldValue) + 1;
              } else {
                  // Don't allow decrementing below one
                  if (oldValue > 1) {
                      var newVal = parseFloat(oldValue) - 1;
                  } else {
                      newVal = 1;
                  }
              }
              updateQuantity(id, newVal);
          });
    
          $('.product-qty').on('change', function(){
              var parent = $(this).parentsUntil(".product")[3];
              var id = parent.id;
              var qty = $(this).val();
              updateQuantity(id, qty);
          });
    
          function updateQuantity(id, qty){
              var path = "<%= change_quantity_cart_product_path(":id") %>";
              var token = $( 'meta[name="csrf-token"]' ).attr( 'content' );
              $.ajax({
                  method: "POST",
                  url: path.replace(":id", id),
                  data: {qty: qty},
                  beforeSend: function ( xhr ) {
                      xhr.setRequestHeader( 'X-CSRF-Token', token );
                  }
              });
          }
      });
  </script>
<% end %>
