
  <section class="featured spad">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
          <div class="card">
            <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.input :name, autofocus: true,require: true, label: false, placeholder: 'Your Name', input_html: {class: "form-control form-control-user"}%>
        </div>

        <div class="form-group">
          <%= f.input :email, required: true, label: false, placeholder: 'Your Email', input_html: {class: "form-control form-control-user"} %>
        </div>
          <%= f.input :phone_number, required: true, label: false, placeholder: 'Your Phone Number', input_html: {class: "form-control form-control-user"} %>
        <div class="form-group">
          <%= f.input :address, as: :text, required: true, label: false, placeholder: 'Your Address', input_html: {size: "24x2"}, input_html: {class: "form-control form-control-user"} %>
        </div>
        <br>
        <div class="form-group">
          <%= f.input :password, required: true, label: false, placeholder: 'Password', input_html:{maxlength: 50, size:20, class: "form-control form-control-user"}%>
        </div>
        <div class="form-group">
          <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Password Confirmation', input_html: {class: "form-control form-control-user"}%>
        </div>
          <%= f.button :submit, "Sign Up", class: 'btn btn-success btn-user btn-block' %>
     <%= render "devise/shared/links" %>
      <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>