<div class="container">
  <h1>Edit Extra Charge</h1>
  <div class="row">
    <div class="col-12">
      <%= simple_form_for [:admins, @extra_charge] do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.input :amount %>
          </div>
        </div>
          <%= f.button :submit, class: "btn btn-info" %>

          <%= link_to "Cancel", root_path, class: "btn btn-danger" %>

      <% end %>
    </div>
  </div>
</div>
