<div class="container">
  <h1><%=params[:action].capitalize%> Service Charge</h1>
  <div class="row">
    <div class="col-12">
      <%= simple_form_for [:admins, @service_charge] do |f| %>
        <div class="row">
          <div class="col-6">
            <%= f.input :name, disabled: true%>
          </div>
          <div class="col-6">
            <%= f.input :price %>
          </div>
          
        </div>
          <%= f.button :submit, class: "btn btn-info" %>

          <%= link_to "Cancel", admins_service_charges_path, class: "btn btn-danger" %>

      <% end %>
    </div>
  </div>
</div>
