<!DOCTYPE html>
<html>
<head>

  

  <title>Entice</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Google Font -->
  <meta name="turbolinks-visit-control" content="reload">
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/@icon/elegant-icons/elegant-icons.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container-body">
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield(:script) %>
  <div id="wrapper">
        <%= render'admins/shared/admins_navbar'%>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <%= render 'admins/shared/admins_header'%>
            <%= yield %>
          </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class =>"btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
