<div class="container">
    <%= simple_form_for(user, url: users_path, html: { method: :put }) do |f| %>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <%= f.input :name%>
        </div>
        <div class="col-lg-12 col-md-12">
          <%= f.input :email %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <%= f.input :phone_number%>
        </div>
        <div class="col-lg-12 col-md-12">
          <%= f.input :address, as: :text, input_html: {rows: 5, cols: 10} %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <%= f.button :submit, 'Update', class: "btn btn-info col-12" %>
          </div>
          <div class="col-lg-6 col-md-12">
				  <%= link_to "Cancel", root_path, class: "btn btn-danger col-lg-12"%> 
        </div>
      </div>
    <%end%>
</div>