
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__cart">
            <% if user_signed_in? && current_user.customer? %>
              <ul>
                <li><a href="<%= orders_path%>"><i class="fas fa-receipt"></i></a></li>
                <li><a href="<%=cart_products_path%>"><i class="fa fa-shopping-bag"></i>
                    <span>
                      <%if current_user.carts.where(active:true).exists?%>
                        <%=current_user.carts.where(active:true).last.cart_products.count%>
                      <%else%>
                        0
                      <%end%>
                      0
                    </span></a></li>
              </ul>
            <%end%>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
              <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt text-danger"></i> Logout
                <% end %>
              <% else %>
                <%= link_to new_user_session_path do %>
                  <i class="fa fa-user"></i> Login
                <% end %>
              <% end %>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul class="nav">
              <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
              <li class="<%= 'active' if current_page?(cart_products_path) %>"><%= link_to "Shopping Cart", cart_products_path %></li>
              <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to "Order History", orders_path %></li>
          </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
          <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                    </div>
                  </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                              <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                              <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                              <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                           
                            <div class="header__top__right__auth">
                                <% if user_signed_in? %>
                              <%= link_to destroy_user_session_path, method: :delete do %>
                                <i class="fas fa-sign-out-alt text-danger"></i> Logout
                              <% end %>
                            <% else %>
                              <%= link_to new_user_session_path do %>
                                <i class="fa fa-user"></i> Login
                              <% end %>
                            <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <nav class="header__menu">
                        <ul class="nav">
                            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
                            <li class="<%= 'active' if current_page?(cart_products_path) %>"><%= link_to "Shopping Cart", cart_products_path %></li>
                            <li class="<%= 'active' if current_page?(orders_path) %>"><%= link_to "Order History", orders_path %></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                  <div class="header__cart">
                      <% if user_signed_in? && current_user.customer? %>
                        <ul>
                          <li><a href="<%=cart_products_path%>"><i class="fa fa-shopping-bag"></i>
                              <span>
                                <%if current_user.carts.where(active:true).exists?%>
                                  <%=current_user.carts.where(active:true).last.cart_products.count%>
                                <%else%>
                                  0
                                <%end%>
                                0
                              </span></a></li>
                          <li><a href="<%= wallet_statuses_path%>"><i class="fas fa-money-bill"></i></a></li>
                          <li><a href="<%= new_wallet_status_path%>"><%=number_to_currency(current_user.wallet.nominal, :locale => :id)%><i class="fas fa-plus"></i></a></li>
                        </ul>
                      <%end%>
                  </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>