<!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-6">
                    <div class="footer__about">
                    <div class="footer__about__logo">
                            <a href="/"><img src=<%= asset_url('logo.png')%> alt=""></a>
                        </div>
                        <ul>
                            <li>Address: Jl. Rawa Belong, Jakarta</li>
                            <li>Phone: +6281912985860</li>
                            <li>Email: entice@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->