<%= simple_form_for @order do |f| %>
    
    <div class="row">
      <%= f.simple_fields_for :transaction_detail do |p| %>
        <div class="col-lg-8 col-md-6">
            <div class="row">
                <div class="col-lg-12">
                  <%= p.input :recipient_name, required: true %>
                </div>
            </div>
            <div class="checkout__input">
                <%= p.input :address, placeholder: 'Street Address', required: true %>
                <%= p.input :address_detail,label: false, placeholder: 'Apartment, Suite, Home Number, etc (Optional)' %>
            </div>
            <div class="checkout__input">
                <%= p.input :city, label:'Town/City', required: true %>
            </div>
            <div class="checkout__input">
                <%= p.input :postcode, label:'Postcode/ZIP Code', required: true %>
            </div>
            <div class="checkout__input">
                <%= p.input :phone_number, label:'Phone Number', required: true %>
            </div>
            <div class="checkout__input">
              <%= f.input :note, label: 'Order Notes', placeholder: "Notes about your order, e.g. special notes for delivery (Optional)" %>
            </div>
        </div>
      <%end%>
        <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
                <h4>Your Order</h4>
                <div class="checkout__order__products">Products <span>Total</span></div>
                  <ul>
                  <%@order.cart.cart_products.each do |product|%>
                    <li><%=product.product.name.capitalize%><span><%=number_to_currency(product.quantity * product.product.price , :locale => :id)%></span></li>
                    <li>
                      <%if @order.check_extra_charge.present?%>
                        Extra Charge<span><%=number_to_currency(@order.check_extra_charge , :locale => :id)%>
                      <%end%>
                    </li>
                  <%end%>
                  </ul>
                  <div class="postal_fee">Service Charge <span><%=number_to_currency(@order.service_charge.price, :locale => :id)%></span></div>
                  <%if @order.coupon.present?%>
                    <div class="discount">Discount <span>- <%=number_to_currency(@order.check_discount, :locale => :id)%></span></div>
                  <%end%>
                <div class="checkout__order__subtotal">Subtotal <span><%=number_to_currency(@order.total_price, :locale => :id)%></span></div>
                  
                <%=f.button :submit, 'PLACE ORDER', class: 'site-btn'%>
            </div>
        </div>
    </div>
<%end%>