
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
              <thead>
                <tr>
                  <th>Order Date</th>
                  <th>Product Purchased</th>
                  <th>Total price</th>
                  <th>Order status</th>
                  <th>Check Detail</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                  <tr>
                  <td><%= order.created_at.strftime("%A, %d-%m-%Y") %></td>
                    <td><%= order.cart.products.count %></td>
                    <td><%= number_to_currency(order.total_price, locale: :id)%></td>
                    <td>
                    <%if order.status.eql? 'delivered_confirmed'%>
                      <%= link_to "Confirmation Order", transition_order_path(order.id), method: :patch, class: 'site-btn'%>
                    <%else%>  
                      <%= order.status.titleize %></td>
                    <% end %>
                    <td><%= link_to 'Detail', order_path(order), class: 'btn btn-secondary'%></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>