<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <!-- Counter - Alerts -->
          <span class="badge badge-danger badge-counter"><%= current_user.notifications.where(read: false).count%></span>
      </a>
      <!-- Dropdown - Alerts -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="alertsDropdown">
          <h6 class="dropdown-header">
              Notifications Center
          </h6>
          <% current_user.notifications.order(created_at: :desc).take(3).each do |notification| %>
          <a class="dropdown-item admin d-flex align-items-center" href="<%=admins_order_path(notification.order)%>">
              <div class="notification-index">
                <div class="mr-3">
                  <%if notification.read == false%>
                    <div class="icon-circle bg-primary"></div>
                  <%end%>
                </div>
                <div>
                    <div class="small text-gray-500"><%= notification.created_at.strftime("%b %d, %Y %H:%M")%></div>
                    <span class="font-weight-bold"><%= notification.message%></span>
                </div>
              </div>
          </a>
          <%end%>
          </a>
          <a class="dropdown-item admin text-center small text-gray-500" href="<%=admins_notifications_path%>">Show All Notification</a>
      </div>
  </li>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.name.upcase%></span>
                <%=image_tag('undraw_profile.svg', :class => "img-profile rounded-circle")%>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                 <a class="dropdown-item admin" href="<%=edit_admins_extra_charge_path(ExtraCharge.first)%>">
                      <i class="fas fa-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                        Change Extra Charge
                    </a>
                <a class="dropdown-item admin" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>



	