<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img class="product__details__pic__item--large"
                    src="<%=@product.image%>" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3><%=@product.name.capitalize%></h3>
          <div class="product__details__price"><%=number_to_currency(@product.price, :locale => :id)%></div>
          <h4><%=@product.region.name%></h4>
          
          <%= form_tag add_cart_product_product_path, remote: true do %>
            <div class="product__details__quantity">
              <div class="quantity">
                <div class="pro-qty">
                  <input type="text" value="1" id="product_qty" name="product[qty]">
                </div>
              </div>
            </div>
            <button class="primary-btn">ADD TO CART</button>
          <%end%>
          <ul>
            <li><b>Availability</b> <span><%= @product.status.titleize %></span></li>
            <li><b>Shipping</b> <span>1-2 Days of shipping</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                        aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                        aria-selected="false">Comments</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Products Infomation</h6>
                <p><%= @product.description%></p>
              </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <div class="product__details__tab__desc">
                <%=render 'comment'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->
