<div class="container">
	<h3>Transaction Detail</h3>
	<div class="row">
        <div class="col-lg-6 col-md-6">
			<p>
			  <strong>Customer:</strong>
			  <%= @order.cart.user.name %>
			</p>
			<p>
			  <strong>Receipt Number:</strong>
			  	<%= @order.receipt_number %>
			</p>
			<p>
			  <strong>Total Price:</strong>
			  <%= number_to_currency(@order.total_price, locale: :id) %>
			</p>
			<p>
			  <strong>Status:</strong>
			  <%= @order.status.titleize %>
			</p>
			<p>
			  <strong>Order Date:</strong>
			  <%= @order.created_at.strftime("%A, %d-%m-%Y") %>
			</p>
			<p>
			  <strong>Receiver:</strong>
			  	<%= @order.receiver %>
			</p>
      <%if ['cancelled','finished','reviewed'].include? @order.status%>
          <td></td>
          <% elsif @order.status.eql? 'delivered_confirmed' %>
          <td></td>
        <% elsif @order.status.eql? 'processed' and @order.receipt_number.eql? '-'%>
          <td>
            <div class="button-order">
              <%= link_to 'Add Receipt', input_receipt_admins_order_path(@order.id),  class: 'btn btn-primary', :remote => true  %>
              <div id="modal-win" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true"></div>
            </div>
          </td>
        <% elsif @order.status.eql? 'delivered' and @order.receiver.eql? '-' %>
          <td>
            <div class="button-order">
              <%= link_to 'Add Receiver', input_receiver_admins_order_path(@order.id), remote: true, class: "btn btn-primary"%>
              <div id="modal-window" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true"></div>
            </div>
          </td>
        <%else%>
          <td>
          <div class="button-order">
          <%= link_to @order.status.capitalize, transition_admins_order_path(@order.id), method: :patch, class: 'btn btn-primary '%></td>
          </div>
        <% end %>			
			<p>
			  <strong>Product:</strong>
			  	<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
				  	<thead>
				    	<tr>
				      		<th class="th-sm">Name</th>
						    <th class="th-sm">Price</th>
						    <th class="th-sm">Total Item</th>
						    <th class="th-sm">Image</th>
				    	</tr>
				  	</thead>
				  	<tbody>
					  	<% @order.cart.products.group_by(&:itself).uniq.each do |tp,v| %>
					  	<tr>
					  		<td><%= tp.name %></td>
					  		<td><%= number_to_currency(tp.price, locale: :id) %></td>
					  		<td><%= v.count %></td>
					  		<td><%= image_tag tp.image_url %></td>
					  	</tr>
					  	<% end %>
					</tbody>
				</table>
        

			</p>
			<%= link_to 'Back', admins_orders_path, class: 'btn btn-sm btn-danger' %>
		</div>
	</div>
</div>
